.Ellipse {
    position: absolute;
    top: 20%;
    left: 18%;
    width: 62%;
    height: 60%;
    color: white;
}

@media screen and (max-width: 450px) {
    .Ellipse {
        top: 5%;
        left: 5%;
        width: 90%;
        height: 58%;
    }

}