::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #555;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#menu {
  display: none;
}

#menuList {
  display: none;
}

.Section {
  position: absolute;
  left: 0%;
  width: 99%;
  height: 90%;
  z-index: 1;
  /* border: dashed white; */
}


#firstSection {
  top: 113%;
  perspective: 1000px;
}

#secondSection {
  top: 250%
}

#thirdSection {
  top: 360%
}

#fourthSection {
  top: 480%
}

#fifthSection {
  top: 610%;

}

.illuswrap {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 50%;
  height: 100%;
  /* transform: rotateY(-45deg); */

  /* transition: all 3500ms ease; */

  /* border: dashed blue; */
}
/* 
.rotate {
  transform: rotateY(-90deg)
}

.rotateIn {
  transform: rotateY(-180deg)
}

.rotateInAgain {
  transform: rotateY(-360deg)
} */

.illustrate {
  position: absolute;
  left: 22%;
  width: 55%;
  height: 80%;
  /* transform: 'rotate3d(0, 4, 4, 90deg)' */
  /* transform: rotateY(-45deg); */

}

.hidIllustrate {
  position: absolute;
  top: 9%;
  left: 10%;
  width: 48.5%;
  height: 79.5%;
  /* transform: 'rotate3d(0, 4, 4, 90deg)'; */
}


#illustrate1 {
  top: 8%
}

#illustrate2 {
  top: 10%
}

#illustrate3 {
  top: 10%
}

#illustrate4 {
  top: 22%;
  height: 50%
}

#lastIllustrate {
  position: absolute;
  left: 20%;
  top: 0%;
  width: 63%;
  height: 80%
}


.textContainer {
  position: absolute;
  top: 10%;
  left: 0%;
  width: 50%;
  height: 100%;
  opacity: 0;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: 'center'; */

  /* border: dashed red */
}


.title {
  position: absolute;
  left: 45%;
  top: 37%;
  color: white;
  font: bold 22px times new roman
}

.para {
  position: absolute;
  left: 3.5%;
  top: 45%;
  color: white;
  margin-bottom: 0%;
  margin-left: 41%;
  text-align: left;
  width: 40%;
  height: 20;
}


.illuswrap3 {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 50%;
  height: 100%;
  perspective: 1000px;
  /* border: dashed blue; */
}

.textContainer3 {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 50%;
  height: 100%;
  opacity: 0;
  /* border: dashed cyan; */
}

.transparentButton {
  position: absolute;
  left: 38%;
  top: 60%;
  width: 23%;
  height: 5.5%;
  color: white;
  border-radius: 50px;
  border: solid 0.1px whitesmoke;
  outline: none;
  background: rgb(228, 223, 223);
  background: linear-gradient(90deg, rgba(228, 223, 223, 0) 0%, rgba(198, 19, 19, 0) 100%);
  margin-left: 7%;
}


.border {
  position: absolute;
  left: -0.2%;
  width: 100%;
  height: 100%;
  z-index: 0;
}


#border1 {
  top: 97%;
  left: 1%
}

#border2 {
  top: 224%;
}

#border3 {
  left: -2%;
  top: 320%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#border4 {
  top: 450%
}

.header {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 15%;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center
}

.headerItemsLeft {
  font: 14px times new roman;
  margin-left: 8%
}

.headerRight {
  position: absolute;
  top: 3%;
  right: 3%;
  height: 7%;
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /* border: solid black; */

}

.headerItemsRight {
  font: 14px times new roman;
  margin-right: 28%;
}

.searchBar {
  position: absolute;
  top: 4%;
  left: 44%;
  height: 4.5%;
  width: 25%;
  border-radius: 50px;
  border: none;
  background-color: white;
  box-shadow: 0px 0px 8px 1px rgba(230, 230, 230, 1);
  font: italic 18px times new roman
}

.pageHeading {
  position: absolute;
  left: -10%;
  top: 20%;
  font: bold 48px times new roman;
  opacity: 0;
  /* border: dashed black; */
}


.darkTheme {
  position: absolute;
  top: 90%;
  left: 0%;
  width: 100%;
  height: 630%
}



@media screen and (max-width: 450px) {

  #menu {
    display: block;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 4%;
    height: 2%;
    cursor: pointer
  }

  #menuList {
    display: block;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 50%;
    height: 50%;
    border: 'solid'

  }

  .Section {
    height: 120%
  }

  #firstSection {
    top: 113%;
  }

  #secondSection {
    top: 240%;

  }

  #thirdSection {
    top: 367%
  }

  #fourthSection {
    top: 494%
  }

  #fifthSection {
    top: 621%;
    left: -40%;
    width: 145%;
    height: 60%
  }

  .illuswrap, .illuswrap3 {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 75%;
  }

  .border {
    display: none;
  }

  .textContainer, .textContainer3 {
    top: 60%;
    left: 0%;
    width: 100%;
    height: 25%;
    /* border: dashed white */
  }



  .title {
    position: absolute;
    left: 35%;
    top: 2%;
    color: white;
    font: bold 22px times new roman
  }

  .para {
    position: absolute;
    left: -6%;
    top: 27%;
    color: white;
    margin-bottom: 0%;
    margin-left: 41%;
    text-align: left;
    width: 60%;
    height: 20;
  }

  .transparentButton {
    position: absolute;
    left: 29%;
    top: 75%;
    width: 30%;
    height: 15%;
    color: white;
    border-radius: 50px;
    border: solid 0.1px whitesmoke;
    outline: none;
    background: rgb(228, 223, 223);
    background: linear-gradient(90deg, rgba(228, 223, 223, 0) 0%, rgba(198, 19, 19, 0) 100%);
  }


  .hidAnime {
    height: 5%;
    width: 8%
  }

  .illustrate {
    height: 55%;
    width: 58%
  }

  #illustrate1 {
    top: 7%;

  }

  #illustrate2 {
    top: 10%;

  }

  #illustrate3 {
    top: 10%
  }

  #illustrate4 {
    top: 10%;
    left: 10%;
    width: 75%;
    height: 45%;
  }


  .headerRight {
    top: 2.3%;
    right: -5%;
    width: 35%;
    height: 8%;
    /* border: solid black; */
    justify-content: flex-start;
    align-items: flex-start;
  }

  .headerItemsRight {
    margin-right: 17%;
  }

  .headerItemsLeft {
    display: none;
  }

  .searchBar {
    left: 18%;
    width: 42%;
    height: 4%
  }


  .pageHeading {
    position: absolute;
    top: 40%;
    left: 5%;
  }

  .pageHeadingItem {
    font: bold italic 22px times new roman;
  }

  .darkTheme {
    height: 2000%
  }

  #lastIllustrate {
    position: absolute;
    left: 5%;
    top: 0%;
    width: 90%;
    height: 35%
  }

}