.sliderRoundsContainer {
    position: absolute;
    bottom: 7%;
    right: 19%;
    width: 12%;
    height: 5%;
    /* border: dashed white; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1
}

.sliderRounds {
    color: white;
    width: 4%;
    height: 18%;
    background-color: white;
    margin-left: 15%;
    cursor: pointer;
    border-radius: 50px;
}

.slideShowEllipse {
    display: none;
    opacity: 0;
    position: absolute;
    top: 3%;
    left: 0%;
    width: 99%;
    height: 90%;
    /* border: dashed white; */
}

.ssHalf {
    position: absolute;
    top: 3%;
    left: 52.5%;
    width: 45%;
    height: 100%;
    perspective: 1000px;
    /* border: 'solid white' */
}


.hidCircle {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 62%;
    height: 60%;
    color: black;
}