#mobileLeft {
    position: absolute;
    left: -2.5%;
    top: 35%;
    width: 18%;
    height: 25%
}

#mobileRight {
    position: absolute;
    left: 82%;
    top: 35%;
    width: 18%;
    height: 25%;
}

@media screen and (max-width: 450px) {
    #mobileRight {
        position: absolute;
        left: 75%;
        top: 22%;
        width: 25%;
        height: 28%;
    }

    #mobileLeft {
        position: absolute;
        left: -2.5%;
        top: 22%;
        width: 25%;
        height: 28%
    }

}